# Data Science Tools and Eco System

> In this notebook, Data Science Tools and Eco system are summarized.

**Objectives:** 

* Popular Data Science Languages
* commonly used data Science tools
* Libraries Data Scientist use
* Add comments to code
* Create mark down cells

Some of the poular languages that data scientists use are

1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists include:

1.  Pandas
2.  NumPy
3.  Ploty
4. Matplotlib

| Data Science Tools|
|--------|
|RStudio
|Anaconda|
|Jupiter Notebbok|
|spyder|

 # Below are a few exmples of evaluating arithmetic expression in Python

#arithmetic operations

code = 7*4

#Result 28

Code1 = (7+2)*3

#Result = 51

In [7]:
# This is a simple arithmetic expression to multiply and then add integers

(3*4)+5

17

In [8]:
# this will convert 200 minutes to hours by diving 60

200/60

3.3333333333333335

## Author(s)

Lakshmi Holla

Niveditha Pandith

Lincy Vadakumchery